[GENERAL]
extension-pkg-whitelist=lxml

[REPORTS]
output-format = colorized
reports = yes

[MESSAGES CONTROL]
# no-member is disabled because of a false-positive with lxml
disable=too-many-statements,too-many-locals,too-many-branches,too-many-instance-attributes,too-many-arguments,too-few-public-methods,missing-docstring,duplicate-code,no-member,bad-continuation,line-too-long
good-names=a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,tv,ax,tc,pl
